{{/* Display items 2-4 of content tagged with series="news" as smaller headline cards.
     Note: The first news item is displayed separately in the featured section. */}}

{{ range after 1 (first 4 (where .Site.RegularPages "Params.series" "news")) }}
<div class="card-container">
    <div class="card-headline">
        <div class="card-headline-thumbnail">
            {{ with .Resources.Get "thumbnail.jpg" }}
                <img src="{{ .RelPermalink }}" alt="Thumbnail">
            {{ else }}
                <img src="{{ "images/headline.jpg" | relURL }}" alt="Thumbnail">
            {{ end }}
            </div>
        
            <div class="card-headline-content">
                <div class="card-headline-category">{{.Params.categories}}</div>
                <a class="card-headline-title" href="{{ .Permalink }}">{{ .Params.title }}</a>
                <div class="card-headline-summary">{{.Summary}}</div>
            </div>
    </div>
</div>
{{ end }}


